@model Online_SHopping_Cart.Models.BaseCategory_Table
@{
    ViewBag.Title = "ManageBaseCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Manage Base Categories</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Add New Base Category</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.BaseCatName, "Base Category Name", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.BaseCatName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaseCatName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaseCatDesc, "Category Description", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.BaseCatDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaseCatDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<form>
    <div id="ajaxgrid">
        @{
            var gridview = new WebGrid(ViewBag.BaseCategories, ajaxUpdateContainerId: "ajaxgrid", canSort: true, rowsPerPage: 5);
        }
        @gridview.GetHtml(
        tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "altColor",
        selectedRowStyle: "clickable",
       
        mode: WebGridPagerModes.All,
    columns: new[]

{

     gridview.Column(columnName:"BaseCatName", header: "Base Category Name",format: @<span>
            <span id="BaseName" class="read">@item.BaseCatName</span>

            @Html.TextBox("BaseCatName", (string)item.BaseCatName, new { @class = "edit cat",@style="display:none" })

            <label id="label1" class="text-danger"></label>
        </span>),

     gridview.Column(columnName: "BaseCatDesc", header: " Base Category Description", format: @<span>
            <span id="BaseDescription" class="read">@item.BaseCatDesc</span>
            @Html.TextBox("BaseCatDescription", (string)item.BaseCatDesc, new { @class = "edit",@style="display:none" })
            <label id="label2" class="text-danger"></label>
        </span> ),

     gridview.Column("", style: "button",
                format:
                @<text>
                    <button class="edit-case read btn btn-default btn-sm" id="@item.BaseCatId">
                        <span class="glyphicon glyphicon-pencil"></span>Edit
                    </button>
                    <button class="delete-case read btn btn-default btn-sm" id="@item.BaseCatId">
                        <span class="glyphicon glyphicon-trash"></span>Delete
                    </button>
                    <button class="update-case edit btn btn-default btn-sm" id="@item.BaseCatId" style="display:none" type="submit">Update</button>
                    <button class="cancel-case edit btn btn-default btn-sm" id="@item.BaseCatId" style="display:none">Cancel</button>
                </text>),



    }
)
    </div>
</form>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/BaseCategory.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/css/Adminstyle/Gridstyle.css" rel="stylesheet" />