@model Online_SHopping_Cart.Models.Location_Table
@{
    ViewBag.Title = "ManageLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Manage Location</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Add New Location</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.LocationName, "Location Name", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationPIN, "Location Pin", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LocationPIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationPIN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationDesc, "Description", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LocationDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationDesc, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="ajaxgrid">
    @{
        var gridview = new WebGrid(ViewBag.Locations, ajaxUpdateContainerId: "ajaxgrid", canSort: true, rowsPerPage: 5);
    }
    @gridview.GetHtml(
        tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "altColor",
        selectedRowStyle: "clickable",
        mode: WebGridPagerModes.All,
    columns: new[]

{


     gridview.Column(columnName:"LocationName", header: "Location Name",format: @<span>
        <span id="LName" class="read">@item.LocationName</span>
        @Html.TextBox("LocationName", (string)item.LocationName, new { @class = "edit cat ",@style="display:none" })
        <label id="label1" class="text-danger"></label>
    </span>),
      gridview.Column(columnName:"LocationPIN", header: "Location Pincode",format: @<span>
        <span id="PIN" class="read">@item.LocationPIN</span>
        @Html.TextBox("LocationPIN", (int)item.LocationPIN, new { @class = "edit",@style="display:none" })
        <label id="label2" class="text-danger"></label>
    </span>),

     gridview.Column(columnName: "LocationDesc", header: " Location Description", format: @<span>
        <span id="LDescription" class="read">@item.LocationDesc</span>
        @Html.TextBox("LocationDescription", (string)item.LocationDesc, new { @class = "edit",@style="display:none" })
        <label id="label3" class="text-danger"></label>
    </span> ),

      gridview.Column("", style: "button",
                format:
                @<text>
                    <button class="edit-case read btn btn-default btn-sm" id="@item.LocationId">
                        <span class="glyphicon glyphicon-pencil"></span>Edit
                    </button>
                    <button class="delete-case read btn btn-default btn-sm" id="@item.LocationId">
                        <span class="glyphicon glyphicon-trash"></span>Delete
                    </button>
                    <button class="update-case edit btn btn-default btn-sm" id="@item.LocationId" style="display:none">Update</button>
                    <button class="cancel-case edit btn btn-default btn-sm" id="@item.LocationId" style="display:none">Cancel</button>
                </text>)

    }
)
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/scripts/Location.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/css/Adminstyle/Gridstyle.css" rel="stylesheet" />