
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopFactory</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/serviceLayoutStyle.css" rel="stylesheet" />
    <script src="~/scripts/serviceLayout.js"></script>
</head>

<body  id="mainview">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="brand">shopFactory</h1>
                <ul class="nav navbar-nav navbar-right" id="h">
                    <li class="dropdown">
                        <a id="navcol" class="dropdown-toggle notif-class " data-toggle="dropdown"><span class="glyphicon glyphicon-bell "><span class="badge badge-notify">@Convert.ToInt32(Session["NotificationCount"])</span></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in ViewBag.Order)
                            {
                                @Html.Label("Order Id:")
                                <li>@item.OrderId</li>
                                @Html.Label("Delivery Address:")
                                <li>@item.OrderDeliveryAddress</li>
                                @Html.Label("Deliver Before:")
                                <li>@String.Format("{0:dd-MMM-yyyy}", item.OrderDeliveryDate)</li>

                                <li class="divider"></li>
                            }
                            @Html.ActionLink("View Details", "View_Service", new { @class = "notif-class" })
                        </ul>
                    </li>
                    <li><a href="#" onclick="openNav()"><span class="glyphicon glyphicon-user"></span> @Session["Service"].ToString()</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Service/Service_Home">Home</a></li>
                <li><a href="/Service/Add_Service">Add Service</a></li>
                <li><a href="/Service/Manage_Service">Manage Service</a></li>
                <li><a href="/Service/View_Service">View Service</a></li>
            </ul>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br /><br />
        <img src="https://londonentrepreneursnetwork.com/public/assets/frontend/profile_image/user-icon-png-pnglogocom.png" style="height:150px;width:150px;" /><br /><br /><br />
        <div class="divider container">
            <label>NAME : @Session["name"].ToString()</label><br />
            <label>UserName : @Session["Service"].ToString()</label>
        </div>

        <a href="/Service/profile" class="glyphicon glyphicon-pencil">Edit Profile</a>
       
        <a href="/Service/ChangePassword" class="glyphicon glyphicon-lock">Change Password</a>
        <a href="/Service/logout" class="glyphicon glyphicon-log-out">Logout</a>

    </div>
    <div>
        @RenderBody()
    </div>
    
</body>
</html>