@model IEnumerable<Online_SHopping_Cart.ViewModel.Buyer_Product>

<style>
  
        #cr{
    height:300px;
    width:300px;
    margin:25px;
    float:left;
}

</style>

<link href="~/Content/materialize.css" rel="stylesheet" />

@foreach (var item in Model)
{
    var base64 = Convert.ToBase64String(item.BinaryImage);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);


    <div class="card" id="cr">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" style="height:200px;" src="@imgSrc" /><br />
        </div>

        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.ProductName)<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.ProductName)<i class="material-icons right">close</i></span>
            @Html.DisplayFor(modelItem => item.ProductName)<br />

            @Html.DisplayFor(modelItem => item.ProductPrice)<br />

            @Html.DisplayFor(modelItem => item.ProductDesc)<br />

            @Html.ActionLink("View", "order", new { id = item.ProductId }, new { @class = "btn waves-effect waves-light" })
            <br /><br />
            <button id=@(item.ProductId) class="btn waves-effect waves-light" onclick="cart(this)">Add to Cart </button>
            <br />
        </div>
</div>

        }

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/scripts/materialize.js"></script>
        <script>

            function cart(element) {
                var btn = element.id;
                $.ajax({
                    type: "POST",
                    url: "add_cart",
                    data: '{id: "' + btn + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        alert("Added to Cart");
                        window.location.href = "cart";
                    },
                    failure: function (response) {
                        alert("Not found");
                    },
                    error: function (response) {
                        alert("error");
                    }
                });

            }


        </script>

